.header__settings {
  width: 1279px;
}

.header {
  margin: 0;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(7, 48, 66);
}

.header__movies {
  background-color: rgba(32, 32, 32, 1);
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
  padding-top: 16px;
  padding-bottom: 18px;
  cursor: pointer;
}

.header__logo:hover {
  opacity: .6;
  transition: opacity .5s linear;
}

.header__container {
  margin: 0;
  padding: 0;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 15px;
  align-items: center;
}

.header__container_type_movies {
  padding-left: 52px;
  padding-top: 12px;
}

.header__link {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.header__link_type_signup {
  padding-top: 14px;
  padding-bottom: 8px;
}

.header__link_type_signin {
  margin-top: 5px;
  padding: 9px 20px;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(61, 220, 132);
  color: rgb(0, 0, 0);
  max-height: 15px;
}

.header__link_type_movies {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 16px;
}

.header__profile {
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link_type_profile {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__profile_text {
  margin: 0;
  margin-left: 7px;
}

.header__navigation {
  margin-right: -6px;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: .6;
  transition: opacity .5s linear;
}

.header__navigation:hover {
  opacity: .6;
  transition: opacity .5s linear;
}
@media screen and (max-width: 1279px) {
  .header__settings {
    width: 767px;
  }

  .header {
    padding: 0 30px;
  }
  .header__container {
    padding-top: 17px;
  }

  .header__container_type_movies {
    display: none;
  }

  .header__link_type_signin {
    padding: 9px 20px;
  }

  .header__profile {
    display: none;
  }
  .header__navigation {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header__settings {
    width: 320px;
  }

  .header {
    max-width: 292px;
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
    margin-left: 14px;
  }

  .header__link_type_signup {
    padding-top: 12px;
  }

  .header__link_type_signin {
    margin-top: 7px;
    padding: 5px 12px;
  }

  .header__navigation_icon {
    width: 37px;
    margin-top: 3px;
  }
  
}